<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.romi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Romi">
        <activity
            android:name=".negyvege"
            android:exported="false" />
        <activity
            android:name=".negyallas"
            android:exported="false" />
        <activity
            android:name=".negyjatek"
            android:exported="false" />
        <activity
            android:name=".haromvege"
            android:exported="false" />
        <activity
            android:name=".haromallas"
            android:exported="false" />
        <activity
            android:name=".haromjatek"
            android:exported="false" />
        <activity
            android:name=".negy"
            android:exported="false" />
        <activity
            android:name=".harom"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>